@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body {
     margin: 0;
     padding: 0;
      }
.background {                        /*Задний фон и его значения для партиклов*/
    background-color: black;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.navbar-nav h6 {
	padding-left: 8px;
    color: white;
    font-size: 24px;
    font-family: "Raleway";
    font-weight: 300;
    transition: 0.7s;
}
.navbar-nav h5 {
    padding-left: 8px;
    font-family: "Raleway";
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(45deg, #8aa9d6 22%, white 56%, #d11fbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}

.navbar-nav h6:hover {
    color: #4169E1;
    transition: 0.7s;
}

nav .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
.bd-example, .sections {
    opacity: .9;     /*Прозрачность всей страницы*/
}
.bd-example h5 {
    font-family: "Lato";
    font-size: 35px;
    text-shadow: -5px -5px 0px #071abf;
    background: radial-gradient(#9DA8A9 1px, transparent 1px);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
}

.events h6 {
    display: block; 
    margin: 0 auto;
    font-family: "Lato";
    font-size: 35px;
    text-shadow: -5px -5px 0px #071abf;
    background: radial-gradient(#9DA8A9 1px, transparent 1px);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
}


iframe {
    width: 490px;
    height: 281px;
    float: left;
    margin-left: 3%;
    display: inline-block;
}





@media screen and (min-width:0px) and (max-width:1080px) {
    iframe {
    width: 490px;
    height: 281px;
    margin-left: 0px;
    float: left;
    margin-bottom: 20px;
}

}



canvas {
     position: fixed;
    z-index: -2;
 }


.write-us {
    padding-top: 70px;
    padding-bottom: 70px;
}

.write-h1 h1 {
   border: 3px solid #6e22bf;
   border-radius: 62px;
   width: 240px;
   height: 62px;
   color: #6e22bf;
   transition: 0.7s;
}

.write-h1 h1:hover {
    background-color: #6e22bf;
    color: white;
    transition: 0.7s;
}


